---
import { BanknoteArrowUpIcon, ImportIcon } from "@lucide/astro";
import LoadingButton from "../../components/Button/LoadingButton.astro";
import Layout from "../../layouts/Layout.astro";
import CreateTransaction from "./_components/CreateTransaction.astro";
import CreateTransactionCount from "./_components/CreateTransactionCount.astro";
---

<Layout>

    <div class="flex items-center justify-between mb-6">
        <h3 class="sm:col-span-2 text-lg font-semibold tracking-wide mb-4">
            Add Transactions
        </h3>
        <div class="flex items-stretch gap-2">
            <CreateTransactionCount />
            <button class="flex items-center gap-1 border border-red/60 rounded-md px-2 py-1 cursor-pointer">
                Import
                <ImportIcon />
            </button>
        </div>
    </div>

    <form>

        <transaction-create-list class="grid gap-4">
            <CreateTransaction />
        </transaction-create-list>

        <template id="transaction-create">
            <CreateTransaction />
        </template>

        <div class="sm:col-span-2 grid grid-cols-2 gap-4">
            <LoadingButton 
                state={{ initial : 'Save', loading : 'Saving...', error : ' Failed', success : 'Saved!' }}
                variant="fill" 
                Icon={BanknoteArrowUpIcon} 
                type="submit"
                class="w-full"
            >
            </LoadingButton>
        </div>
    </form>

</Layout>


<script>
import { el } from "../../lib/el"
import { fetchData } from "../../lib/fetch"


document.addEventListener('astro:page-load', () => {

    el<HTMLFormElement>('form', document, form => {
        form.addEventListener('submit', async ( e: SubmitEvent ) => {
        
            e.preventDefault()

            const button = el('loading-button')

            button?.setAttribute('state', 'loading')

            const transactions = Object.fromEntries( 
                new FormData(form).entries() 
            )

            const result = await fetchData('/api/transactions', {
                method : 'POST',
                body : transactions
            })

            if( result.error ) {
                button?.setAttribute('state', 'error')
                return
            }

            button?.setAttribute('state', 'success')
        })
    })


})

</script>