---
import { actions } from "astro:actions";
import CreateTransactionButton from "../../components/_transactions/CreateTransactionButton.astro";
import FilterTransactions from "../../components/_transactions/FilterTransactions.astro";
import Transaction from "../../components/_transactions/Transaction.astro";
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import { fetchData } from "../../lib/fetch";
import type { GetBudgets, Transaction as TransactionType } from "../../types/types";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

const [transactions, budgets] = await Promise.all([
	Astro.callAction( actions.transaction.index, {filter : 'deleted' } ),
	Astro.callAction( actions.budget.index, {} ),
])

---

<Layout>
	
	<FilterTransactions current="deleted" />

	<div class="mb-2 flex items-center justify-between">
		<H1>
			Deleted Transactions
		</H1>

		<CreateTransactionButton />
	</div>

	<transaction-list class="grid">
		{ !transactions.error && transactions.data.map( (transaction: TransactionType) => (
			<Transaction {transaction} budgets={budgets.data} />
		))}
	</transaction-list>

</Layout>

