---
import FilterTransactions from "../../components/_transactions/FilterTransactions.astro";
import MoreTransactionsButton from "../../components/_transactions/MoreTransactionsButton.astro";
import Transaction from "../../components/_transactions/Transaction.astro";
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import CreateTransactionButton from "../../components/_transactions/CreateTransactionButton.astro";
import { actions } from "astro:actions";
import type { Transaction as TransactionType } from "../../types/types";
import ImportTransactionButton from "../../components/_transactions/ImportTransactionButton.astro";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

const [transactions, budgets] = await Promise.all([
	Astro.callAction( actions.transaction.index, {filter : 'recent'} ),
	Astro.callAction( actions.budget.index, {} )
])


---

<Layout>
	
	<FilterTransactions current="recent" />

	<div class="mb-2 flex items-center">
		<H1>
			Recent Transactions
		</H1>

		<span class="ml-auto flex items-center gap-2">
			<CreateTransactionButton />
			<ImportTransactionButton />
		</span>
	</div>

	<transaction-list class="grid">
		{ !transactions.error && transactions.data.list.map( (transaction: TransactionType ) => (
			<Transaction {transaction} budgets={budgets.data} />
		))}
		<template id="transaction-template">
			<Transaction budgets={budgets.data}/>
		</template>
	</transaction-list>

	<MoreTransactionsButton />

</Layout>

