---

import Layout from "../../layouts/Layout.astro";
import MoreTransactionsButton from "./_components/MoreTransactionsButton.astro";
import Transaction from "./_components/Transaction.astro";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

---

<Layout loader>
	
	<filter-options class="flex items-center gap-4 rounded mb-8 text-sm">
		<a 
			class="px-3 py-1 rounded-full border border-accent-text bg-accent-text text-black font-semibold"
			href="/transactions/recent"
		>
			Most Recent
		</a>
		<a 
			class="px-3 py-1 rounded-full border border-accent-text font-semibold"
			href="/transactions/monthly"
		>
			Monthly
		</a>
		<a 
			class="px-3 py-1 rounded-full border border-accent-text font-semibold"
			href="/transactions/search"
		>
			Search
		</a>
	</filter-options>

	<transaction-list class="grid gap-6">
		<div class="hidden">
			<Transaction />
		</div>
		<template id="transaction-template">
			<Transaction />
		</template>
	</transaction-list>

	<MoreTransactionsButton />

</Layout>

<script>

import { Loader } from "../../components/Loader/loader"
import Qry from "../../utils/Qry"
import { getTransactions } from "./_services/get-transactions"
import { renderTransactions } from "./_services/render-transactions"

document.addEventListener('astro:page-load', () => {
 
	(async () => {
		const transactions = await getTransactions( 1, {
			by : 'recent',
			page : 0,
			perPage : 50
		})
		renderTransactions(
			transactions.data, 
			Qry.one('transaction-list')
		)
		Loader.remove()
	})()

})
</script>
