---

import Layout from "../../layouts/Layout.astro";
import MoreTransactionsButton from "./_components/MoreTransactionsButton.astro";
import Transaction from "./_components/Transaction.astro";
import { getTransactions } from "./_lib/getTransactions";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

const transactions = await getTransactions( 1, {
	by : 'recent',
	page : 0,
	perPage : 50
})

---

<Layout>
	
	<filter-options class="flex items-center gap-2 rounded mb-8 text-xs w-full overflow-x-auto sm:overflow-x-visible">
		<a 
			class="px-3 py-1 rounded-full border border-accent-text bg-accent-text text-black font-semibold"
			href="/transactions/recent"
		>
			Recent
		</a>
		<a 
			class="px-3 py-1 rounded-full border border-accent-text font-semibold"
			href="/transactions/monthly"
		>
			Month
		</a>
		<a 
			class="px-3 py-1 rounded-full border border-accent-text font-semibold"
			href="/transactions/monthly"
		>
			Budget
		</a>
		<a 
			class="px-3 py-1 rounded-full border border-accent-text font-semibold"
			href="/transactions/search"
		>
			Search
		</a>
		<a 
			class="px-3 py-1 rounded-full border border-accent-text font-semibold"
			href="/transactions/deleted"
		>
			Deleted
		</a>
	</filter-options>

	<transaction-list class="grid gap-6">
		{ transactions.data.map( transaction => (
			<Transaction {transaction} />
		))}
		<template id="transaction-template">
			<Transaction />
		</template>
	</transaction-list>

	<MoreTransactionsButton />

</Layout>

