---
import StaticLayout from "../../layouts/StaticLayout.astro";
---

<StaticLayout>
    <p class="mt-8 text-xl text-center">
        Error 404 - Something went wrong<br />
        <a href="javascript:history.back()" class="underline">
            Go Back
        </a>
        <br /><br />
        <a href="/" class="underline text-sm">BudgetBot</a>
    </p>
</StaticLayout>

