---
import { BotIcon } from "@lucide/astro";
import StaticLayout from "../../layouts/StaticLayout.astro";
---

<StaticLayout>
    <p class="mt-8 text-xl text-center">
        Error 401 - Unauthorized<br />
        <a href="/" class="underline">Back to Home</a>
    </p>
</StaticLayout>

