---
import { LogInIcon } from "@lucide/astro"
import Button from "../../components/Button/Button.astro";
import StaticLayout from "../../layouts/StaticLayout.astro";
import { getAuth } from "../auth/auth.utils";

const auth = await getAuth(Astro)
---

<StaticLayout>
    { auth ? (
        <a href="/dashboard" class="underline text-center">
            Continue to dashboard as <strong>{auth.userName}</strong>
        </a>
    ) : (
        <form 
            method="post" 
            action="/auth/login"
            class="shrink-0 grid gap-4 px-4 mb-24 mx-auto w-full"
        >
            <span id="error-message" class="text-red"></span>
    
            <label>
                Username
                <input type="text" name="username" class="w-full p-2 !border-blue" />
            </label>
            <label>
                Password
                <input type="password" name="password" class="w-full p-2 !border-blue" />
            </label>
            <Button type="submit" Icon={LogInIcon} variant="fill" class="!p-4">
                Log In
            </Button>
        </form>
    )}
</StaticLayout>

<script>
import { el, els } from "../../lib/el"
import { sleep } from "../app/app.utils"


document.addEventListener('DOMContentLoaded', () => {

    /**
     * 
     * Login form event handler
     * Hide elements and show loader when form is submitted
     * 
     */
    const form = el<HTMLFormElement>('form', document, form => {
        form.addEventListener('submit', handleSubmit)
    })
    
    async function handleSubmit(e: Event) {
        e.preventDefault()
    
        els('span', document, span => span.classList.add('hidden') )
        form?.classList.add('hidden')
        el('#logo')?.classList.add('animate-loader')
    
        await sleep(1000)
        form?.submit()
    }


    /**
     * 
     * Show login error if ?witherror in url search params
     * 
     */
    const params = new URLSearchParams(window.location.search);

    if (params.has('witherror')) {
        const errorMessage = el('#error-message')
        if( errorMessage ) {
            errorMessage.textContent = "Invalid username or password."
        }
    }
})

</script>