---
import Layout from "../../layouts/Layout.astro";
import type { Transaction as TransactionType } from "../../types/Transaction";
import MoreTransactionsButton from "./_components/MoreTransactionsButton.astro";
import Transaction from "./_components/Transaction.astro";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

const res = await fetch(new URL(`/transactions/api/get?id=${auth.userId}&perPage=50`, Astro.url))
const transactions = await res.json()
---

<Layout>
	
	Transactions

	<filter-options class="flex items-center gap-4 rounded mb-4">
		<button>Most Recent</button>
		<button>Monthly</button>
		<button>Weekly</button>
		<button>Search</button>
	</filter-options>

	<transaction-list class="grid gap-6">
		{ transactions.data.map( (transaction : TransactionType) =>
			<Transaction transaction={transaction} />
		)}
		<template id="transaction-item">
			<Transaction />
		</template>
	</transaction-list>

	<MoreTransactionsButton />

</Layout>

