---
import { actions } from "astro:actions"
import H1 from "../../../components/H1.astro"
import AppLayout from "../../../layouts/AppLayout.astro"
import { convertDate } from "../../../lib/convertDate"
import GraphBar from "../components/GraphBar.astro"
import GraphTitle from "../components/GraphTitle.astro"
import GraphBarList from "../components/GraphBarList.astro"
import GraphWrapper from "../components/GraphWrapper.astro"
import { calcSpendingTotals, calcUpperRange, calcMonthRange } from "../utils/trendGraph.utils"
import BudgetGraph from "../components/BudgetGraph.astro"
import type { Transaction } from "../../transactions/schema/transaction.schema"

const [transactions, budgets] = await Promise.all([
    Astro.callAction(actions.transaction.index, { filter: "all" }),
    Astro.callAction(actions.budget.index, {}),
])

const spendingTotals = calcSpendingTotals(transactions.data.list)
const spendingUpperRange = calcUpperRange(spendingTotals, 'spending')
const incomeUpperRange = calcUpperRange(spendingTotals, 'income')
const netUpperRange = calcUpperRange(spendingTotals, 'net')
const monthRange = calcMonthRange(spendingTotals)
---

<AppLayout>

    <H1> Trends </H1>

    <GraphWrapper>
        <GraphTitle title="Spending over time" />
        <GraphBarList>
            { monthRange.map((month) => (
                <GraphBar 
                    title={convertDate(month).to("MMM-YYYY")}
                    amount={`-${ spendingTotals[month]?.spending ?? 0 }`}
                    type="spending" 
                    heightRatio={(spendingTotals[month]?.spending ?? 0) / spendingUpperRange * 225} 
                />
            ))}
        </GraphBarList>
    </GraphWrapper>

    <GraphWrapper>
        <GraphTitle title="Income over time" />
        <GraphBarList>
            { monthRange.map((month) => (
                <GraphBar
                    title={convertDate(month).to("MMM-YYYY")}
                    amount={`+${ spendingTotals[month]?.income ?? 0 }`}
                    type="income"
                    heightRatio={(spendingTotals[month]?.income ?? 0) / incomeUpperRange * 225}
                />
            ))}
        </GraphBarList>
    </GraphWrapper>

    <GraphWrapper>
        <GraphTitle title="Net over time" />

        <GraphBarList class="h-[450px]">
            { monthRange.map((month) => (
                <div class="relative h-full flex items-center shrink-0">
                    <div class:list={[
                        "flex flex-col items-center w-[70px] ",
                        spendingTotals[month]?.net > 0 && "-translate-y-1/2",
                        spendingTotals[month]?.net < 0 && "translate-y-1/2",
                    ]}>
                        { spendingTotals[month]?.net > 0 && (
                            <span>+{ spendingTotals[month]?.net }</span>
                        )}
                        <div
                            class:list={[
                                "bg-gradient-to-t w-[40px] rounded-t",
                                spendingTotals[month]?.net > 0 && "from-green/40 to-green/20 border-b-2  border-green",
                                spendingTotals[month]?.net < 0 && "from-red/30 to-red/20 border-t-2  border-red",
                            ]}
                            style={`
                                height : ${ Math.abs(spendingTotals[month]?.net / netUpperRange * 150) }px;
                            `}
                        />
                        { spendingTotals[month]?.net < 0 && (
                            <span>{spendingTotals[month]?.net}</span>
                        )}
                    </div>
                    <span class="absolute bottom-0 text-sm font-semibold">{convertDate(month).to("MMM-YYYY")}</span>
                </div>
            ))}
        </GraphBarList>
    </div>

    <!-- Make this interactive -->
    <div class="grid gap-4 mt-12 ">

        <GraphTitle title="Budgets Trends over time" />

        { budgets.data?.map( budget => (
            <BudgetGraph 
                budgetName={budget.name}
                transactions={transactions.data.list.filter( (t: Transaction) => t.budget === budget.name )}
            />
        ))}
    </div>
</AppLayout>
