---
import { SkullIcon } from "@lucide/astro";
---
<page-loader class="grid items-center justify-center w-full h-[100vh] animate-loader-delay">
    <div class="text-center">
        <SkullIcon width={64} height={64} class="animate-loader" />
    </div>
</page-loader>