---
import AppLayout from "../../layouts/AppLayout.astro"

const auth = await Astro.session?.get('auth')

if( !auth ) {
    return Astro.redirect('/')
}
---

<AppLayout>
    Profile <br />

    <a href="/auth/logout">Log out</a>
</Layout>