---
import Layout from "../../layouts/Layout.astro";
import { getCurrentYYMM, yymmToMonthYear } from "../../utils/app.utils";
import { getBudgets, getBudgetsWithTotalSpent } from "../../utils/budget.utils";
import { getTransactions } from "../../utils/transaction.utils";

const { path } = Astro.params;

const month = Number( path ? path : getCurrentYYMM() )

const [transactions, budgets] = await Promise.all([
	getTransactions(1, { by : 'month', month }),
	getBudgets(),
])

const budgetsWithTotals = getBudgetsWithTotalSpent(budgets, transactions.data)

---
<Layout>

	<div class="flex items-center justify-between mb-4">

		<span>
			{ yymmToMonthYear(month, -1) }
		</span>

		<h1 class="text-xl font-semibold font-theme">
			{ yymmToMonthYear(month) } Spending
		</h1>
		
		<span>
			{ yymmToMonthYear(month, 1) }
		</span>
	</div>

	<div class="grid gap-6 text-lg">
		{ budgetsWithTotals.map( (budget, i ) => (
			<div 
				class:list={[
					"relative rounded-2xl flex items-center justify-between px-4 py-2 font-semibold",
					i % 5 === 0 && 'bg-blue/10',
					i % 5 === 1 && 'bg-green/10',
					i % 5 === 2 && 'bg-purple/10',
					i % 5 === 3 && 'bg-red/10',
					i % 5 === 4 && 'bg-orange/10',
				]}
			>
				<span>
					{budget.name} 
				</span>

				<span class="text-2xl">
					{budget.totalSpent} / {budget.amount}
				</span>

				<span 
					class:list={[
						"absolute left-0 top-0 bottom-0 -z-10 rounded-2xl",
						i % 5 === 0 && 'bg-blue/30',
						i % 5 === 1 && 'bg-green/30',
						i % 5 === 2 && 'bg-purple/30',
						i % 5 === 3 && 'bg-red/30',
						i % 5 === 4 && 'bg-orange/30',
					]}
					style={`width : ${budget.percentSpent}%`}
				>
				</span>
			</div>
		))}
	</div>
</Layout>