---
import { actions } from "astro:actions";
import TransactionListLayout from "../../../layouts/TransactionListLayout.astro";
import CreateTransaction from "../components/CreateTransaction";

const [budgets, accounts] = await Promise.all([
    Astro.callAction( actions.budget.index, {} ),
    Astro.callAction( actions.accounts.index, {} )
]) 
---

<TransactionListLayout
    title="Add a Transaction"
>
    <form>

        <div class="grid gap-4">
            <CreateTransaction 
                budgets={budgets.data ?? []} 
                accounts={accounts.data ?? []} 
                client:only="react"
            />
        </div>

        <div class="sm:col-span-2 grid grid-cols-2 gap-4">

            <view-transactions-link class="self-center opacity-0 -translate-x-4 pl-2 transition-all">
                <a href="/transactions/recent">
                    View Transactions &rarr;
                </a>
            </view-transactions-link>
        </div>
    </form>

</TransactionListLayout>
