---
import TransactionListLayout from "../../../layouts/TransactionListLayout.astro"
import { actions } from "astro:actions";
import TransactionList from "../components/TransactionList";

const url = new URL(Astro.request.url)
const searchParams = url.searchParams
const query = searchParams.get("q")

let transactions
let budgets
let accounts

if( query ) {
	[transactions, budgets, accounts] = await Promise.all([
		Astro.callAction(actions.transaction.search, { query }),
		Astro.callAction(actions.budget.index, {}),
		Astro.callAction(actions.accounts.index, {}),
	])
}
---

<TransactionListLayout
	title="Search Transactions"
	active="search"
>

	{ query && transactions?.data && budgets?.data && (
		<div class="my-4">
			Search results for : <strong>"{query}"</strong>
		</div>
		<TransactionList 
			transactions={transactions.data.list ?? []}
			budgets={budgets.data}
			accounts={accounts?.data ?? []}
			actionButton="edit"
			client:only="react"
		/>
	)}
	
</TransactionListLayout>

