---
import { actions } from "astro:actions";
import type { Transaction as TransactionType } from "../../../types/types";
import AppLayout from "../../../layouts/AppLayout.astro";
import H1 from "../../../components/H1.astro";
import CreateTransactionButton from "../components/CreateTransactionButton.astro";
import FilterTransactions from "../components/FilterTransactions.astro";
import Transaction from "../components/Transaction.astro";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

const [transactions, budgets] = await Promise.all([
	Astro.callAction( actions.transaction.index, {filter : 'uncategorized'} ),
	Astro.callAction( actions.budget.index, {} ),
])

---

<AppLayout>
	
	<FilterTransactions current="uncategorized" />

	<div class="mb-2 flex items-center justify-between">
		<H1>
			Uncategorized Transactions
		</H1>

		<CreateTransactionButton />
	</div>

	<transaction-list class="grid">
		{ !transactions.error && transactions.data.map( (transaction: TransactionType) => (
			<Transaction {transaction} budgets={budgets.data} />
		))}
	</transaction-list>

</Layout>

