---
import H1 from "../../components/H1.astro"
import AppLayout from "../../layouts/AppLayout.astro"
---

<AppLayout>
    <H1>Forecast</H1>

    <p>
        Upcoming bills and expenses.
        Coming soon.
    </p>
</Layout>