---
import { Trash2Icon } from "@lucide/astro";
import type { Budget } from "../../../types/_types";
import Button from "../../../components/Button/Button.astro";

interface Props {
    budgets : Budget[] | undefined
}

const { budgets } = Astro.props
---

<transaction-create class="grid sm:grid-cols-2 gap-4 border-l border-blue pl-4 mb-12">

    <label>
        Date: <br />
        <input type="date" name="date-0" data-name="date" />
    </label>

    <label>
        Description: <br />
        <input type="text" name="description-0" data-name="description" required />
    </label>

    <label>
        Amount: <br />
        <input type="text" name="amount-0" data-name="amount" value="-" required />
    </label>

    <label>
        Budget: <br />
        <select name="budgetId-0" data-name="budgetId" class="w-full">
            { budgets && budgets.map( budget => (
                <option value={budget.id}>{budget.name}</option>
            ))}
        </select>
    </label>

    <label>
        Account: <br />
        <select name="accountId-0" data-name="accountId" class="w-full">
            <option value="1">account 1</option>
            <option selected value="2">account 2</option>
        </select>
    </label>

    <div class="md:text-right">
        <Button variant="ghost" type="button" class="h-full w-fit flex items-end gap-1 ml-auto text-sm hover:underline">
            Remove
            <Trash2Icon width="20" height="20" stroke-width={2} />
        </Button>
    </div>

</transaction-create>


<script>
import { el } from "../../../lib/el"

class TransactionCreate extends HTMLElement {
    
    connectedCallback() {
        /**
         * Set date field with current date as default
         */
        el<HTMLInputElement>('input[type=date]', this, date => {
            date.value = new Date().toISOString().slice(0, 10)
        })
    }
}

customElements.define('transaction-create', TransactionCreate)
</script>