---
import { CirclePlusIcon } from "@lucide/astro";
---

<a 
    class="flex items-center gap-1 text-base text-red hover:text-blue min-w-fit"
    href="/transactions/add"
>
    <CirclePlusIcon width={24} height={24}/>
    Add Transaction
</a>