---
import { ImportIcon } from "@lucide/astro";
---

<a 
    class="flex items-center gap-1 text-base text-red hover:text-blue min-w-fit"
    href="/transactions/import"
>
    <ImportIcon width={24} height={24}/>
    Import Transactions
</a>