---
interface Props {
    isActive : boolean,
    href : string,
    title : string
}

const { isActive, href, title } = Astro.props
---
<a 
    class:list={[
        "px-3 py-1 rounded-full border hover:bg-blue/20 border-blue hover:border-blue font-semibold",
        isActive ? 'bg-blue/40 border-blue/40 text-black' : ''
    ]}
    href={href}
>
    {title}
</a>