---
import { ArrowLeftRightIcon, BotIcon, ChartColumnIncreasingIcon, MoveRightIcon } from "@lucide/astro"
import { actions } from "astro:actions";
import AppLayout from "../../layouts/AppLayout.astro";
import { convertDate } from "../../lib/convertDate";
import Transaction from "../transactions/components/Transaction.astro";
import type { Transaction as TransactionType } from "../../types/types"
import MonthlySpendingSummary from "../trends/components/MonthlySpendingSummary.astro";
import { getAuth } from "../auth/auth.utils";
import TransactionList from "../transactions/components/TransactionList.astro";

const auth = await getAuth(Astro)

const transactions = await Astro.callAction( 
	actions.transaction.index, 
	{ filter : 'recent', perPage : 5 } 
)

---
<AppLayout>

	<div class="text-2xl mb-16 mt-12 flex items-center gap-2 font-theme">
		<BotIcon width="36" height="36" />
		Welcome Back {auth?.userName}!
	</div>

	<div class="grid md:grid-cols-2 gap-8">

		<div class="md:col-span-2 grid gap-6 border-b border-slate-300 pb-4">
			<h2 class="flex items-center gap-2 font-semibold">
				<ChartColumnIncreasingIcon />
				Your Spending this month: 
				<span class="italic text-sm">({convertDate().to('MMM-YYYY')})</span>
			</h2>
			<MonthlySpendingSummary />
			<a href="/budgets" class="flex items-center gap-2 justify-self-start">
				View your budgets 
				<MoveRightIcon />
			</a>
		</div>

		<div class="bg-blue/5 rounded-sm p-4 grid gap-4">
			<h2 class="flex items-center gap-2 font-semibold tex-2xl">
				<ArrowLeftRightIcon />
				Recent Transactions
			</h2>
			<TransactionList>
				{ !transactions.error && transactions.data.list.map( (transaction : TransactionType ) =>
					<Transaction {transaction} budgets={[]} mode="simple" />
				)}
			</TransactionList>
			<a href="/transactions/recent" class="flex items-center gap-2 justify-self-start">
				View your transactions
				<MoveRightIcon />
			</a>
		</div>


		<div class="bg-blue/10 rounded-sm p-4 min-h-32">Debt</div>
		<div class="bg-blue/10 rounded-sm p-4 min-h-32">Income</div>
		<div class="bg-blue/10 rounded-sm p-4 min-h-32">
			Upcoming Bills
		</div>
	</div>
</Layout>