---
import { CircleArrowRightIcon } from "@lucide/astro";

interface Props {
    href : string
    class? : string
}

const { href, class: className = '' } = Astro.props
---

<a 
    href={href} 
    class:list={[
        "flex items-center justify-center gap-2 w-full md:w-fit min-w-max bg-button-main hover:bg-red hover:text-background-main px-4 py-2 rounded-lg font-semibold",
        className
    ]}>
    <slot />
    <CircleArrowRightIcon />
</a>