---
import { ArrowLeftRightIcon, BotIcon, ChartColumnIncreasingIcon, CirclePlusIcon, MoveRightIcon } from "@lucide/astro"
import { actions } from "astro:actions";
import AppLayout from "../../layouts/AppLayout.astro";
import { convertDate } from "../../lib/convertDate";
import MonthlySpendingSummary from "../trends/components/MonthlySpendingSummary.astro";
import { getAuth } from "../auth/auth.utils";
import TransactionLite from "../transactions/components/TransactionLite";
import type { Transaction } from "../transactions/schema/transaction.schema";
import { calcSpendingTotals, calcUpperRange, calcMonthRange } from "../trends/utils/trendGraph.utils";
import IncomeGraph from "../trends/components/IncomeGraph.astro";
import NetGraph from "../trends/components/NetGraph.astro";
import SpendingGraph from "../trends/components/SpendingGraph.astro";

const auth = await getAuth(Astro)

const start = convertDate().prevMonth(4).to('YYYY-MM')
const end = convertDate().to('YYYY-MM')

// const [recentTransactions, transactions] = await Promise.all([
// 	Astro.callAction( actions.transaction.index, {filter : 'recent', perPage : 5} ),
// 	Astro.callAction( actions.transaction.index, {filter : 'monthRange', filterValue : {
// 		start : start,
// 		end : end
// 	}} ),
// ])

const transactions = await Astro.callAction( actions.transaction.index, {filter : 'monthRange', filterValue : {
	start : start,
	end : end
}} )


// const spendingTotals = calcSpendingTotals(transactions.data ?? [])
// const spendingUpperRange = calcUpperRange(spendingTotals, 'spending')
// const incomeUpperRange = calcUpperRange(spendingTotals, 'income')
// const netUpperRange = calcUpperRange(spendingTotals, 'net')
// const monthRange = calcMonthRange(spendingTotals)

// console.log({monthRange})
---
<div>
	<pre>
	This is  a test
	{JSON.stringify(transactions, null, 2)}
	</pre>
</div>
