---
import Layout from "../../layouts/Layout.astro";

const auth = await Astro.session?.get('auth')

if( !auth ) {
    return Astro.redirect('/')
}
---

<Layout>
    Profile <br />

    <a href="/auth/logout">Log out</a>
</Layout>