@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html {
    ---base-color-green : hsl(145, 100%, 40%);
    ---base-color-blue : hsl(205, 90%, 50%);
    ---base-color-orange : hsl(14, 81%, 50%);
    ---base-color-red : hsl(336, 81%, 50%);
    ---base-color-purple : hsl(272, 94%, 50%);
    ---base-color-background-main : hsl(189, 52%, 98%);
    ---base-color-background-accent : hsl(223, 45%, 98%);
    ---base-color-base-text : hsl(223, 30%, 35%);
    ---base-color-accent-text : hsl(223, 30%, 25%);
}

html.dark {
    ---base-color-green : hsl(163, 97%, 56%);
    ---base-color-blue : hsl(205, 90%, 70%);
    ---base-color-orange : hsl(14, 81%, 59%);
    ---base-color-red : hsl(336, 81%, 59%);
    ---base-color-purple : hsl(272, 94%, 62%);
    ---base-color-background-main : hsl(219, 25%, 10%);
    ---base-color-background-accent : hsl(219, 35%, 10%);
    ---base-color-base-text : hsl(223, 30%, 95%);
    ---base-color-accent-text : hsl(223, 30%, 75%);
}

@theme {
    --color-green : var(---base-color-green);
    --color-blue : hsl(205, 90%, 70%);
    --color-orange : hsl(14, 81%, 59%);
    --color-red : hsl(336, 81%, 59%);
    --color-purple : hsl(272, 94%, 62%);
    --color-background-main : var(---base-color-background-main);
    --color-background-accent : var(---base-color-background-accent);
    --color-base-text : var(---base-color-base-text);
    --color-accent-text : var(---base-color-accent-text);

    --font-base : 'Helvetica', 'sans-serif';
    --font-theme : 'Sora Variable', 'Lato', 'Helvetica', 'sans-serif';
}

@layer base {

    /* select, textarea {
        @apply border border-red/40 rounded-md px-2 py-0.5 w-full text-sm;
    } */

    input, select, textarea {
        @apply border-t border-l border-r border-b-2 border-blue/50 bg-blue-50/50 text-sm w-full px-2 py-0.5 rounded;
    }

    select {
        @apply bg-background-main hover:bg-background-accent cursor-pointer px-2 py-0.5;
    }

    option {
        @apply cursor-pointer;
    }

    button {
        @apply cursor-pointer active:scale-90 ;
    }

    a {
        @apply hover:underline hover:text-red;
    }
}


@theme {

    --animate-fade-in : fade-in 250ms ease-in-out;

    @keyframes fade-in {
        from {
            opacity : 0;
        }
        to {
            opacity : 1;
        }
    }

    --animate-slide-up : slide-up 250ms ease;

    @keyframes slide-up {
        from {
            transform : translateY(70px) rotate(-2deg);
        }
        to {
            transform : translateY(0px) rotate(0deg);
        }
    }

    --animate-loader : loader 6s linear infinite;

    @keyframes loader {
        0% {
            transform : none;
        }
        25%{
            color: var(--color-blue);
            transform : rotate(360deg);
        }
        50%{
            color: var(--color-purple);
            transform : rotate(720deg);
        }
        75%{
            color: var(--color-red);
            transform : rotate(1080deg);
        }
        100% {
            color: var(--color-green);
            transform : rotate(1440deg);
        }
    }

    --animate-loader-delay : loader-delay 1.5s linear;

    @keyframes loader-delay {
        0%, 80% {
            transform : scale(0);
        }
        95% {
            transform : scale(1.1)
        }
        100% {
            transform : scale(1);
        }
    }

    --animate-wave : wave 0.7s infinite ease-in-out;

    @keyframes wave {
        0%, 100% { transform: translateY(0); }
        50%     { transform: translateY(-2px); }
    }

    --animate-clip-swipe-away : clip-swipe-away 0.3s ease-out forwards;

    @keyframes clip-swipe-away {
          0% {
            transform: translateY(0);
            opacity : 1;
        }
        100% {
            transform: translateY(-2em); /* slight upward motion */
            opacity : 0;
        }
    }

    --animate-clip-swipe-in : clip-swipe-in 0.3s ease-out forwards;

    @keyframes clip-swipe-in {
        0% {
            transform: translateY(1em); /* slight upward motion */
            opacity : 0;
        }
        100% {
            transform: translateY(0);
            opacity : 1;
        }
    }

    --animate-progress-bar : progress-bar 2000ms cubic-bezier(0.16, 1, 0.3, 1) forwards;

    @keyframes progress-bar {
        0% {
            transform : scaleX(0);
        }
        100% {
            transform : scaleX(1);
        }
    }

    --animate-bargraph : bargraph 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;

    @keyframes bargraph {
        from {
            transform : scaleY(0);
        }
        to {
            transform : scaleY(1);
        }
    }
}

@layer components {
    .position-center {
        @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .budget-progress-bar {
        @apply [&:nth-child(5n+1)_span.progress-bar]:bg-blue/50

        [&:nth-child(5n+2)_span.progress-bar]:bg-green/50

        [&:nth-child(5n+3)_span.progress-bar]:bg-purple/50

        [&:nth-child(5n+4)_span.progress-bar]:bg-red/50

         [&:nth-child(5n)_span.progress-bar]:bg-orange/50
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }

    .graph-scrollbar {
        /* Chrome, Edge, Safari */
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            @apply bg-blue;
        }

        &::-webkit-scrollbar-thumb {
            @apply bg-blue rounded-full hover:bg-orange;
        }

        /* Firefox */
        scrollbar-width: thin;
        /* scrollbar-color: #3b82f6 #e5e7eb; thumb track */
    }

}