---
import { Trash2Icon } from "@lucide/astro";
import LoadingButton from "../../../components/Button/LoadingButton.astro";
---

<budget-delete>
    <div class="grid gap-4 border-l border-blue pl-4">
        <h3 class="text-lg font-semibold tracking-wide">Delete this Budget?</h3>
        <LoadingButton 
            state={{ initial : "Delete Budget", loading : 'Deleting...', error : 'Failed to delete', success : 'Deleted!'}}
            variant="destruct" 
            Icon={Trash2Icon} 
            class="w-full"
        >
            Delete Budget
        </LoadingButton>
    </div>
</budget-delete>

<script>
import { actions } from "astro:actions"
import { el } from "../../../lib/el"
import { LoadingButton } from "../../../components/Button/LoadingButton"
import { sleep } from "../../app/app.utils"

class BudgetDelete extends HTMLElement {
    
    /**
     * 
     * Deletes a budget and removes it from the list of transactions
     * in the DOM
     * 
     */
    connectedCallback() {
        el<HTMLFormElement>('button', this, button => {

            const loadingButton = new LoadingButton('loading-button', { context : this })

            button.addEventListener('click', async () => {
                
                const budgetItem = this.closest('budget-item')
                const budget = JSON.parse(budgetItem?.getAttribute('state') || '')

                if( !budget ) {
                    throw new Error ('Invalid budget')
                }

                loadingButton.setState('loading')

                const response = await actions.budget.destroy({id : budget.id})
                
                if( response.error ) {
                    loadingButton.setState('error')
                    return 
                }
                
                loadingButton.setState('success')
                await sleep(2000)
                this.closest('dialog')?.close()
                budgetItem?.remove()
            })
        })
    }
}

customElements.define('budget-delete', BudgetDelete)

</script>