---
interface Props {
    currentMonth : string,
    months? : { month: string, title: string }[]
}

const { currentMonth, months = [] } = Astro.props
---

<select 
    id="month-selector"
    name="month-selector" 
    class="w-full max-w-[8ch]"
    data-month={currentMonth}
>
    <option>Select</option>
    { months.map( month => (
        <option value={month.month}>
            {month.title}
        </option>
    ))}
</select>

<script>
import { el } from "../../../lib/el"

document.addEventListener('DOMContentLoaded', () => {

	el<HTMLSelectElement>('#month-selector', document, select => {
		select.addEventListener('change', e => {

			if( 
                !(e.target instanceof HTMLSelectElement) ||
                e.target.dataset.month === e.target.value 
            ) {
				return
			}

			window.location.href = `/budgets/month/${e.target.value}`
		})
	})

})
</script>