---
import { ClientRouter } from "astro:transitions"
import { LogInIcon, SkullIcon } from "@lucide/astro"
import { APP_NAME } from "../../config"
import "../styles/main.css"
import Button from "../components/Button.astro"

const auth = await Astro.session?.get('auth')

if( auth ) {
    Astro.redirect('/dashboard')
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{APP_NAME}</title>
        <ClientRouter />
	</head>
	<body class="min-h-screen bg-gradient-to-br from-bg-1 to-bg-2 bg-fixed text-base-text font-base">
        <main class="flex flex-col h-screen max-w-[500px] w-full mx-auto">
            <div class="flex-1 font-theme self-stretch grid place-items-center w-full">
                <div class="text-center">
                    <SkullIcon 
                        id="logo"
                        width="96" 
                        height="96" 
                        class="mx-auto mb-2" 
                        transition:name="top-logo" 
                    />
                    <span class="block text-2xl font-semibold tracking-wide">BudgetApp</span>
                    <span class="block font-semibold tracking-wide">Dead simple budgeting</span>
                </div>
            </div>
            <form 
                method="post" 
                action="/auth/login" 
                class="shrink-0 grid gap-4 px-4 mb-24 mx-auto w-full"
            >
                <span id="error-message" class="text-red"></span>
                <label>
                    Username
                    <input type="text" name="username" class="w-full p-2 !border-blue" />
                </label>
                <label>
                    Password
                    <input type="password" name="password" class="w-full p-2 !border-blue" />
                </label>
                <Button type="submit" Icon={LogInIcon} variant="fill" class="!p-4">
                    Log In
                </Button>
            </form>
        </main>
	</body>
</html>

<script>
import Qry from "../utils/Qry";

document.addEventListener('astro:page-load', () => {

    const form = Qry.one<HTMLFormElement>('form')
    form.addEventListener('submit', handleSubmit)
    
    function handleSubmit(e: Event) {
        e.preventDefault()
    
        Qry.all('span').forEach( span => span.classList.add('hidden'))
        form.classList.add('hidden')
    
        Qry.one('#logo').classList.add('animate-loader')
    
        setTimeout( () => {
            form.removeEventListener('submit', handleSubmit)
            form.requestSubmit()
        }, 1000)
    }

    const params = new URLSearchParams(window.location.search);

    if (params.has('witherror')) {
        Qry.one('#error-message').textContent = "Invalid username or password."
    }
})

</script>