---
import { actions } from "astro:actions";
import { convertDate } from "../../../lib/convertDate";
import MonthlySpendingSummary from "../../trends/components/MonthlySpendingSummary.astro";
import { calcBudgetPieChartData, calcBudgetSpendingTotals } from "../budget.utils";
import SelectMonthlyBudget from "../components/SelectMonthlyBudget.astro";
import AppLayout from "../../../layouts/AppLayout.astro";
import H1 from "../../../components/H1.astro";
import BudgetList from "../components/BudgetList";
import PieChart from "../components/PieChart.astro";

const { routeParam } = Astro.props
const month = routeParam ?? convertDate().to('YYYY-MM')

const [transactions, budgets] = await Promise.all([
	Astro.callAction( actions.transaction.byMonth, { date : month } ),
	Astro.callAction( actions.budget.index, {} )
])

const budgetsWithSpendingTotals = calcBudgetSpendingTotals(budgets.data, transactions.data?.list)

const budgetPieChartData = calcBudgetPieChartData(budgetsWithSpendingTotals)
---
<AppLayout>

	<div class="flex items-center justify-between mb-4">

		<H1>
			{ convertDate(month).to('MMMM-YYYY') }
		</H1>

		<SelectMonthlyBudget currentMonth={month} months={transactions.data?.info.months ?? []} /> 
		
	</div>

	<section class="grid gap-6">

		<MonthlySpendingSummary {month} />
	
		<div class="bg-slate-50 dark:bg-background-accent border border-slate-200 dark:border-slate-800 rounded-md py-12 md:py-16 grid grid-cols-[auto_auto] items-center gap-4 md:gap-8 justify-center px-2">
			<PieChart data={budgetPieChartData} />
			<ul class="grid gap-2">
				{
					budgetPieChartData.map( ( slice, i ) => (
						<li class="flex gap-2 items-center text-md">
							<span 
								class:list={[
									'w-3 h-3 rounded-full shrink-0',
									i === 0 && 'bg-red/50',
									i === 1 && 'bg-green/50',
									i === 2 && 'bg-blue/50',
									i === 3 && 'bg-orange/50',
									i === 4 && 'bg-purple/50',
									i === 5 && 'bg-slate-400/50',
									i === 6 && 'bg-red/50',
									i === 7 && 'bg-green/50',
									i === 8 && 'bg-blue/50',
									i === 9 && 'bg-orange/50',
									i === 9 && 'bg-purple/50',
								]}
							></span>
							<span class="text-md text-slate-600 dark:text-slate-400">
								{ slice.label }
							</span>
						</li>
					))
				}
			</ul>
		</div>
	
		<BudgetList budgets={budgetsWithSpendingTotals} client:only="react" />

	</section>

</Layout>
