---
import { actions } from "astro:actions";
import { convertDate } from "../../../lib/convertDate";
import MonthlySpendingSummary from "../../trends/components/MonthlySpendingSummary.astro";
import { calcBudgetSpendingTotals } from "../budget.utils";
import SelectMonthlyBudget from "../components/SelectMonthlyBudget.astro";
import AppLayout from "../../../layouts/AppLayout.astro";
import H1 from "../../../components/H1.astro";
import BudgetList from "../components/BudgetList";
import Divider from "../../../components/Divider.astro";

const { routeParam } = Astro.params;

const month = routeParam ?? convertDate().to('YYYY-MM')

const [transactions, budgets] = await Promise.all([
	Astro.callAction( actions.transaction.index, { filter : 'month', filterValue : month } ),
	Astro.callAction( actions.budget.index, {} )
])

const budgetsWithSpendingTotals = calcBudgetSpendingTotals(budgets.data, transactions.data.list)

---
<AppLayout>

	<div class="flex items-center justify-between mb-4">

		<H1>
			{ convertDate(month).to('MMMM-YYYY') }
		</H1>

		<SelectMonthlyBudget currentMonth={month} months={transactions.data.months} /> 
		
	</div>

	<MonthlySpendingSummary {month} />

	<Divider />

	<BudgetList budgets={budgetsWithSpendingTotals} client:only="react" />

</Layout>
