---
import { setAuthCookie } from "./cookies.utils"

const data = await Astro.request.formData()
const password = data.get('password')
const isAuth = password === import.meta.env.APP_PASSWORD

const defaultAuth = {
    userId : 1,
    userName : 'Josh',
}

setAuthCookie(Astro, isAuth ? defaultAuth : null)
---

<html>
    <head>
        { isAuth
            ? <meta http-equiv="refresh" content={`0; url=/budgets`} />
            : <meta http-equiv="refresh" content={`0; url=/?witherror`} />
        }
    </head>
    <body>
    </body>
</html>
