---
import { SkullIcon } from "@lucide/astro";
---
<page-loader class="grid items-center justify-center w-full h-[60vh] mb-[40vh] transition-all duration-200">
    <div class="text-center">
        <SkullIcon width={64} height={64} class="animate-loader" />
    </div>
</page-loader>