---
import { CircleXIcon } from "@lucide/astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<'dialog'> {
    title : string
}

const {
    title,
} = Astro.props

---

<dialog class="backdrop:bg-bg-1 md:backdrop:bg-bg-1/95 animate-fade-in " closedby="any" >

    <div class="fixed position-center p-4 sm:p-8 rounded-xl shadow-blue/10 shadow-lg w-[95vw] sm:w-auto sm:min-w-[600px] text-base-text animate-slide-up">

        <div class="flex items-center justify-between w-full mb-8">
            <h3 class="font-semibold text-2xl text-base-text ">
                {title}
            </h3>
            <close-modal-button>
                <button 
                    data-close-dialog-button
                    class="p-2 cursor-pointer hover:text-red active:scale-90 outline-0 border-0"
                >
                    <CircleXIcon width="30" height="30" />
                </button>
            </close-modal-button>
        </div>

        <slot />

    </div>

</dialog>


<script>
import Qry from "../utils/Qry"

class CloseModalButton extends HTMLElement {
    
    connectedCallback() {
        const closeButton = Qry.one<HTMLButtonElement>('close-modal-button button', this)
        closeButton?.addEventListener('click', () => closeButton.closest('dialog')?.close() )
    }
}

customElements.define('close-modal-button', CloseModalButton)
</script>