---
import { LayoutDashboardIcon, ArrowLeftRight, CalendarIcon, ChartColumnDecreasing, ChartColumnIncreasing } from "@lucide/astro"
import NavLink from "./NavLink.astro"

const auth = await Astro.session?.get('auth')

const navLinks = [
    { href : '/dashboard', title : 'Dashboard',      Icon : LayoutDashboardIcon},
    { href : '/transactions/recent', title : 'Transactions',   Icon : ArrowLeftRight},
    { href : '/budgets', title : 'Budgets',        Icon : CalendarIcon},
    { href : '/debt', title : 'Debt Tracker',   Icon : ChartColumnDecreasing},
    { href : '/income', title : 'Income Tracker', Icon : ChartColumnIncreasing},
]
---
{ auth && 
    <div class="fixed bottom-4 w-full z-[9999]">
        <nav class="flex w-[80vw] md:w-fit justify-between mx-auto bg-bg-1/90 backdrop-blur-lg rounded-md text-sm">
            { navLinks.map( link => 
                <NavLink {...link}  isActive={Astro.url.pathname.startsWith(link.href)} />
            )}
        </nav>
    </div>
}