---
import NavLink from "./NavLink.astro"
import { LayoutDashboardIcon, ChartColumnIncreasingIcon, ChartPieIcon, BotIcon, ArrowLeftRightIcon, UserCogIcon, CalendarSyncIcon } from "@lucide/astro"

const auth = await Astro.session?.get('auth')

const navLinks = [
    { href : '/dashboard', title : 'Dashboard', Icon : LayoutDashboardIcon},
    { href : '/transactions', title : 'Transactions', Icon : ArrowLeftRightIcon},
    { href : '/budgets', title : 'Budgets', Icon : ChartPieIcon},
    { href : '/bills', title : 'Bill Calendar', Icon : CalendarSyncIcon},
    { href : '/trends', title : 'Trends', Icon : ChartColumnIncreasingIcon},
    // { href : '/settings', title : 'Settings', Icon : UserCogIcon},
]
---
{ auth && 
    <div class:list={[
        "fixed bottom-1 left-0 right-0 w-full z-[9999] flex items-center md:items-start justify-center",
        "md:relative md:bottom-auto md:mt-4",
        "md:sticky md:top-4 md:mb-8",
    ]}>
        <nav 
            transition:name="nav"
            class:list={[
                "bg-background-accent md:bg-transparent text-white md:text-inherit backdrop-blur-lg rounded-sm shadow-md shadow-blue/20",
                "p-2 w-full",
                "flex items-center md:gap-2 justify-between md:justify-start"
            ]}
        >
            <a href="/dashboard" class="hidden md:block md:ml-4 md:mr-auto">
                <BotIcon stroke-width={1} width="30" height="30" />
            </a>
            { navLinks.map( link => 
                <NavLink {...link}  isActive={Astro.url.pathname.startsWith(link.href)} />
            )}
        </nav>
    </div>
}