---

interface Props {
    href : string,
    title : string,
    Icon : any,
    isActive : boolean
}
const { href, title, Icon, isActive } = Astro.props

---

<a 
    href={href} 
    class:list={[
        " relative flex flex-col md:flex-row gap-y-1 md:gap-2 items-center py-2 md:p-3 hover:text-red hover:scale-105 active:scale-95 active:text-red transition-all duration-75",
        href === "/transactions/add" && "bg-black/70 scale-105"
    ]}
>
    <Icon stroke-width={1.5} width="20" height="20" class="w-7 h-7 md:w-auto md:h-auto" />
    <span class="font-theme text-xs sm:text-sm ">
        {title}
    </span>
    { isActive &&
        <span 
            class="absolute bottom-0 left-0 right-0 bg-red h-1 rounded-full"
            transition:name="navlink-active" 
        />
    }
</a>


<script>
import { el, els } from "../lib/el"


document.addEventListener('DOMContentLoaded', () => {

    const main = el('main')
    
    els<HTMLAnchorElement>('nav a', document, link => {
        link.addEventListener('click', () => {
            setTimeout( () => {
                main?.classList.add('opacity-0')
            }, 500)
        })

    })
})

</script>