---
interface Props {
    heightRatio : number
    type : 'spending' | 'income'
    title : string
    amount : string
}
const { heightRatio, type, title, amount } = Astro.props
---
<div class="flex flex-col items-center w-[70px] shrink-0">
    <span>{amount}</span>
    <div
        class:list={[
            "bg-gradient-to-t  w-[40px] border-b-2  rounded-t",
            type === 'spending' && "from-red/30 to-red/20 border-red",
            type === 'income' && "from-green/40 to-green/20 border-green"
        ]}
        style={`height : ${heightRatio}px;`}
    />
    <span class="text-sm font-semibold">{title}</span>
</div>