---
import { convertDate } from "../../../lib/convertDate";
import type { calcSpendingTotals } from "../utils/trendGraph.utils";
import BarGraphBar from "./BarGraphBar.astro";
import BarGraphLabel from "./BarGraphLabel.astro";

interface Props {
    monthRange : string[]
    spendingTotals : ReturnType<typeof calcSpendingTotals>
    upperRange : number
    title : string
}

const { monthRange, spendingTotals, upperRange, title } = Astro.props

const spendingTotalsKeys = Object.keys(spendingTotals)
const length = spendingTotalsKeys.length
const total = spendingTotalsKeys.reduce((acc, key) => acc + spendingTotals[key].net, 0)
const avg = Math.round(total/length)

const maxBarHeight = 150
const maxBarValue = Math.max(...monthRange.map(month => Math.abs(spendingTotals[month]?.net)))
const maxPositiveValue = Math.max(...monthRange.map(month => spendingTotals[month]?.net ?? 0))
const maxNegativeValue = Math.min(...monthRange.map(month => spendingTotals[month]?.net ?? 0))
console.log(maxPositiveValue, maxNegativeValue)
---

<div class="grid gap-2 p-4 rounded-xl select-none bg-linear-to-b from-blue/10 to-transparent">

    <h2 class="text-xl font-semibold font-theme">
        {title}
    </h2>

    <div class="flex overflow-x-auto scroll-right scrollbar-hide pb-12 pl-4">
        { monthRange.map((month) => {

            const net = spendingTotals[month]?.net
            const type = net > 0 ? 'income' : 'spending'
            const heightRatio = net / maxBarValue 
            const height = Math.round(maxBarHeight * heightRatio)

            console.log(net, height)

            return (
                <div class="relative px-1">

                    <span class="text-sm font-semibold min-w-max whitespace-nowrap">
                        {convertDate(month).to("MMM-YY")}
                    </span>

                    <div class:list={[
                        "absolute left-1/2 -translate-x-1/2 flex flex-col items-center text-sm text-slate",
                        net > 0 && "bottom-full",
                        net < 0 && "top-full",
                    ]}>

                        { net > 0 && <BarGraphLabel>+{ net }</BarGraphLabel> }

                        <BarGraphBar 
                            type={type} 
                            heightRatio={Math.abs(net / upperRange * 150)} 
                        />

                        { net < 0 && <BarGraphLabel>{ net }</BarGraphLabel> }

                    </div>
                </div>
            )
        })}
        <div class="relative px-1">

            <span class="text-sm font-semibold min-w-max whitespace-nowrap">
                Average
            </span>

            <div class:list={[
                "absolute left-1/2 -translate-x-1/2 flex flex-col items-center text-sm text-slate",
                avg > 0 && "bottom-full",
                avg < 0 && "top-full",
            ]}>

                { avg > 0 && <BarGraphLabel>+{ avg }</BarGraphLabel> }

                <BarGraphBar 
                    type={'average'} 
                    heightRatio={Math.abs(avg / upperRange * 150)} 
                />

                { avg < 0 && <BarGraphLabel>{ avg }</BarGraphLabel> }

            </div>
        </div>
    </div>
</div>

<script>
import { els } from "../../../lib/el";

els('.scroll-right', document, div => {
    div.scrollLeft = div.scrollWidth
})
</script>