---
const { class : className } = Astro.props
---
<div 
    class:list={["flex gap-2 items-end h-[300px] overflow-x-auto scroll-right scrollbar-hide", className]}
>
    <slot />
</div>

<script>
import { els } from "../../../lib/el";

els('.scroll-right', document, div => {
    div.scrollLeft = div.scrollWidth
})
</script>