---
import { convertDate } from "../../../lib/convertDate";
import type { calcSpendingTotals } from "../utils/trendGraph.utils";
import BarGraph from "./BarGraph.astro";
import BarGraphBar from "./BarGraphBar.astro";
import BarGraphLabel from "./BarGraphLabel.astro";
import GraphTitle from "./GraphTitle.astro";
import GraphWrapper from "./GraphWrapper.astro";

interface Props {
    monthRange : string[]
    spendingTotals : ReturnType<typeof calcSpendingTotals>
    upperRange : number
    title : string
}

const { monthRange, spendingTotals, upperRange, title } = Astro.props

console.log(spendingTotals)
const spendingTotalsKeys = Object.keys(spendingTotals)
const length = spendingTotalsKeys.length
const total = spendingTotalsKeys.reduce((acc, key) => acc + spendingTotals[key].net, 0)
const avg = Math.round(total/length)
console.log(avg)

---

<GraphWrapper>
    <GraphTitle title={title} />

    <BarGraph baseline="center" class="h-112.5">
        { monthRange.map((month) => {

            const net = spendingTotals[month]?.net
            const type = net > 0 ? 'income' : 'spending'

            return (
                <div class="relative px-1">

                    <span class="text-sm font-semibold min-w-max whitespace-nowrap">
                        {convertDate(month).to("MMM-YY")}
                    </span>

                    <div class:list={[
                        "absolute left-1/2 -translate-x-1/2 flex flex-col items-center text-sm text-slate",
                        net > 0 && "bottom-full",
                        net < 0 && "top-full",
                    ]}>

                        { net > 0 && <BarGraphLabel>+{ net }</BarGraphLabel> }

                        <BarGraphBar 
                            type={type} 
                            heightRatio={Math.abs(net / upperRange * 150)} 
                        />

                        { net < 0 && <BarGraphLabel>{ net }</BarGraphLabel> }

                    </div>
                </div>
            )
        })}
        <div class="relative px-1">

            <span class="text-sm font-semibold min-w-max whitespace-nowrap">
                Average
            </span>

            <div class:list={[
                "absolute left-1/2 -translate-x-1/2 flex flex-col items-center text-sm text-slate",
                avg > 0 && "bottom-full",
                avg < 0 && "top-full",
            ]}>

                { avg > 0 && <BarGraphLabel>+{ avg }</BarGraphLabel> }

                <BarGraphBar 
                    type={'average'} 
                    heightRatio={Math.abs(avg / upperRange * 150)} 
                />

                { avg < 0 && <BarGraphLabel>{ avg }</BarGraphLabel> }

            </div>
        </div>
    </GraphBarList>
</GraphWrapper>