---
import { convertDate } from "../../../lib/convertDate";
import type { calcSpendingTotals } from "../utils/trendGraph.utils";
import BarGraph from "./BarGraph.astro";
import BarGraphBar from "./BarGraphBar.astro";
import BarGraphLabel from "./BarGraphLabel.astro";
import GraphTitle from "./GraphTitle.astro";
import GraphWrapper from "./GraphWrapper.astro";

interface Props {
    monthRange : string[]
    spendingTotals : ReturnType<typeof calcSpendingTotals>
    upperRange : number
    title : string
}

const { monthRange, spendingTotals, upperRange, title } = Astro.props
---

<GraphWrapper>
    <GraphTitle title={title} />

    <BarGraph baseline="center" class="h-112.5">
        { monthRange.map((month) => {

            const net = spendingTotals[month]?.net
            const type = net > 0 ? 'income' : 'spending'

            return (
                <div class="relative px-1">

                    <span class="text-sm font-semibold min-w-max whitespace-nowrap">
                        {convertDate(month).to("MMM-YY")}
                    </span>

                    <div class:list={[
                        "absolute left-1/2 -translate-x-1/2 flex flex-col items-center text-sm text-slate",
                        net > 0 && "bottom-full",
                        net < 0 && "top-full",
                    ]}>

                        { net > 0 && <BarGraphLabel>+{ net }</BarGraphLabel> }

                        <BarGraphBar 
                            type={type} 
                            heightRatio={Math.abs(net / upperRange * 150)} 
                        />

                        { net < 0 && <BarGraphLabel>{ net }</BarGraphLabel> }

                    </div>
                </div>
            )
        })}
    </GraphBarList>
</GraphWrapper>