---
import "../styles/main.css"
import '@fontsource/lato'
import '@fontsource-variable/sora'
import Loader from "../components/Loader/Loader.astro"
import Nav from "../components/Nav.astro"
import { APP_NAME } from "../../app.config"

interface Props {
    loader? : boolean
}

const { 
    loader = false
} = Astro.props

---
<html lang="en" class="ddark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{APP_NAME} - {import.meta.env.MODE}</title>
	</head>
	<body class="min-h-screen bg-bg-2 text-base-text font-base">
        <div class:list={"max-w-[1000px] w-full mx-auto p-4"}>
            <Nav />
            { loader && <Loader /> }
            <main class="transition-opacity mb-24">
                <slot />
            </main>
        </div>
	</body>
</html>
