---
import ClientRouter from "astro/components/ClientRouter.astro"
import "../styles/main.css"
import '@fontsource/lato'
import { SkullIcon } from "@lucide/astro"
import Loader from "../components/Loader.astro"
import UserAvatar from "../components/UserAvatar.astro"
import Nav from "../components/Nav.astro"



---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Budget-App</title>
        <ClientRouter />
	</head>
	<body class="min-h-screen bg-gradient-to-br from-bg-1 to-bg-2 bg-fixed text-base-text font-base">
        <header class="flex items-center justify-between gap-4 p-4 mb-4 text-blue">
            <a href="/" class="flex items-center gap-1 font-theme">
                <SkullIcon size={30} />
                <span class="text-xl font-semibold tracking-wide">SKLbudget</span>
            </a>
            <UserAvatar />
        </header>
        <Nav />
        <!-- <Loader /> -->
        <main class="p-4">
            <slot />
        </main>
	</body>
</html>
