---
import { APP_NAME } from "../../app.config";
import '@fontsource-variable/sora';
import '../styles/main.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{APP_NAME} - {import.meta.env.MODE}</title>
	</head>
	<body class="min-h-screen bg-gradient-to-br from-bg-1 to-bg-2 bg-fixed text-base-text font-base">
        <main class="flex flex-col h-screen max-w-[500px] w-full mx-auto">
            <slot />
        </main>
    </body>
</html>
