---
import { APP_NAME } from "../../app.config";
import '@fontsource-variable/sora';
import '../styles/main.css'
import { BotIcon } from "@lucide/astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{APP_NAME} - {import.meta.env.MODE}</title>
	</head>
	<body class="min-h-screen bg-bg-2 text-base-text font-base">
        <main class="flex flex-col mt-16 gap-8 max-w-[500px] w-full mx-auto">
			<div class="flex-1 font-theme self-stretch grid place-items-center w-full">
				<div class="text-center">
					<BotIcon 
						id="logo"
						width="96" 
						height="96" 
						class="mx-auto mb-2" 
						transition:name="top-logo" 
					/>
					<span class="block text-2xl font-semibold tracking-wide">BudgetApp</span>
					<span class="block font-semibold tracking-wide">Dead simple budgeting</span>
				</div>
			</div>
            <slot />
        </main>
    </body>
</html>
