---
import { CircleFadingPlus, CirclePlusIcon, ImportIcon } from "@lucide/astro";
import H1 from "../components/H1.astro";
import SearchTransactionsForm from "../features/transactions/components/SearchTransactionsForm.astro";
import TransactionFilterLink from "../features/transactions/components/TransactionFilterLink.astro";
import AppLayout from "./AppLayout.astro";

interface Props {
    title : string
    active? : string
}

const { title, active } = Astro.props
---

<AppLayout title={title}>

        <a 
            slot="page-actions"
            href="/transactions/add"
        >
            <CircleFadingPlus size={24} />
        </a>
    
    <filter-transactions class="flex items-center gap-x-3 gap-y-1 rounded text-xs w-full overflow-x-auto py-2 scrollbar-hide relative mb-4">

        <TransactionFilterLink
            isActive={active === 'recent'}
            href="/transactions/recent"
            title="Recent"
        />
        <TransactionFilterLink
            isActive={active === 'month'}
            href="/transactions/month"
            title="Month"
        />
        <TransactionFilterLink
            isActive={active === 'budget'}
            href="/transactions/budget"
            title="Budget"
        />
        <TransactionFilterLink
            isActive={active === 'account'}
            href="/transactions/account"
            title="Account"
        />
        <TransactionFilterLink
            isActive={active === 'uncategorized'}
            href="/transactions/uncategorized"
            title="Uncategorized"
        />
        <TransactionFilterLink
            isActive={active === 'deleted'}
            href="/transactions/deleted"
            title="Deleted"
        />
        <SearchTransactionsForm />
        
    </filter-transactions>

    <slot />

</AppLayout>