---
import H1 from "../components/H1.astro";
import CreateTransactionButton from "../features/transactions/components/CreateTransactionButton.astro";
import ImportTransactionButton from "../features/transactions/components/ImportTransactionButton.astro";
import TransactionFilterLink from "../features/transactions/components/TransactionFilterLink.astro";
import AppLayout from "./AppLayout.astro";

interface Props {
    title : string
    active? : string
}

const { title, active } = Astro.props
---

<AppLayout>

	<div class="flex items-center justify-between flex-wrap gap-y-2">
		<H1>
			{title}
		</H1>

		<span class="flex items-center gap-4">
			<CreateTransactionButton />
			<ImportTransactionButton />
		</span>
	</div>
    
    <filter-transactions class="flex items-center gap-x-2 gap-y-1 rounded mb-4 text-xs w-full overflow-x-auto mt-4 md:mt-0 py-2 scrollbar-hide relative">

        <TransactionFilterLink
            isActive={active === 'recent'}
            href="/transactions/recent"
            title="Recent"
        />
        <TransactionFilterLink
            isActive={active === 'month'}
            href="/transactions/month"
            title="Month"
        />
        <TransactionFilterLink
            isActive={active === 'budget'}
            href="/transactions/budget"
            title="Budget"
        />
        <TransactionFilterLink
            isActive={active === 'account'}
            href="/transactions/account"
            title="Account"
        />
        <TransactionFilterLink
            isActive={active === 'uncategorized'}
            href="/transactions/uncategorized"
            title="Uncategorized"
        />
        <TransactionFilterLink
            isActive={active === 'deleted'}
            href="/transactions/deleted"
            title="Deleted"
        />
        <TransactionFilterLink
            isActive={active === 'search'}
            href="/transactions/search"
            title="Search"
        />

        <span class="md:hidden sticky z-50 top-0 right-0 bottom-0 w-[50px] h-[24px] shrink-0 scale-y-200 bg-gradient-to-r from-transparent to-bg-2" />
        
    </filter-transactions>

    <slot />

</AppLayout>