---
import { CirclePlusIcon } from "@lucide/astro";
---

<a 
    class="flex items-center gap-2 text-base text-red hover:text-blue "
    href="/transactions/add"
>
    <CirclePlusIcon width={36} height={36}/>
</a>