---
import { ImportIcon } from "@lucide/astro";
---

<a 
    class="flex items-center gap-2 text-base text-red hover:text-blue rotate-180"
    href="/transactions/import"
>
    <ImportIcon width={36} height={36}/>
</a>