---
---
<button 
    id="more-transactions-button" 
    class="bg-slate-700 p-6 mt-6 rounded-xl mb-36 w-full cursor-pointer text-lg hover:bg-blue "
>
    More Transactions
</button>


<script>
import { el } from "../../lib/el"
import { fetchData } from "../../lib/fetch"
import type { RecentTransactions } from "../../types/types"
import { renderTransactions } from "../../utils/transaction.utils"

document.addEventListener('DOMContentLoaded', () => {

    /**
     * 
     * Load more transactions
     * 
     */
    let page = 1

	const button = el<HTMLButtonElement>('#more-transactions-button', document, btn => {
        btn.addEventListener('click', async () => {

            const transactions = await fetchData<RecentTransactions>(`/api/transactions/recent?page=${page}`)
                
            if( !transactions.response?.data ) return
            
            renderTransactions( transactions.response?.data, el('transaction-list') )

            page += 1
            if( page === transactions.response?.totalPages) button?.remove()
        })
    })

})
</script>
