---
---
<button 
    id="more-transactions-button" 
    class="p-6 mt-6 rounded-xl mb-36 w-full cursor-pointer bg-blue/20  hover:bg-blue/60 font-semibold"
>
    More Transactions
</button>


<script>
import { actions } from "astro:actions"
import { el } from "../../lib/el"
import { renderTransactions } from "../../utils/transactions/renderTransactions"

document.addEventListener('DOMContentLoaded', () => {

    /**
     * 
     * Load more transactions
     * 
     */
    let page = 1

	const button = el<HTMLButtonElement>('#more-transactions-button', document, btn => {
        btn.addEventListener('click', async () => {

            const transactions = await actions.transaction.index({
                filter : 'recent',
                page
            })

            if( !transactions.data ) return
            
            renderTransactions( transactions.data.list, el('transaction-list') )

            page += 1
            if( page === transactions.data.totalPages) button?.remove()
        })
    })

})
</script>
