---
import { EllipsisIcon } from "@lucide/astro"
import DeleteTransaction from "./DeleteTransaction.astro"
import EditTransaction from "./EditTransaction.astro"
import type { Budget, Transaction } from "../../types/types"
import Modal from "../Modal.astro"

interface Props {
    transaction? : Transaction,
    budgets? : Budget[],
    mode? : 'simple' | 'detailed'
}

const { 
    transaction,
    budgets,
    mode = 'detailed'
}= Astro.props
---

<transaction-item 
    data-isdeleted={transaction?.isDeleted}
    class="relative grid gap-2 py-8 border-b border-red/20 data-[isdeleted=true]:opacity-90 transition-all max-h-[500px]"
    {...transaction}
>

    <transaction-date  
        class="block text-sm text-accent-text rounded" 
    />

    <div class="flex justify-start items-start w-full">
        <transaction-description 
            class="block font-semibold text-xl md:text-xl rounded" 
        />
        <transaction-amount  
            class="ml-auto text-xl font-semibold font-theme" 
        />
    </div>

    <div class="w-full flex items-stretch gap-2 ">
        <transaction-budget
            class="bg-blue/20 px-3 text-xs font-medium rounded-sm tracking-wide capitalize flex items-center" 
        />

        { mode === 'detailed' &&
            <span class="bg-red/10 px-3 font-medium rounded-sm tracking-wide text-xs capitalize flex items-center ">
                Everyday &#9679; Chequing 9084
                <transaction-account-name />
                
                <transaction-account-type />
                <transaction-account-number />
            </span>
            <transaction-edit class="ml-auto">
                <button class="ml-2  group cursor-pointer transition-all active:scale-95">
                    <EllipsisIcon class="stroke-slate-400 group-hover:stroke-slate-900 transition-colors" />
                </button>
            </transaction-edit>
            <Modal title="Transaction Options">
                <EditTransaction transaction={transaction} budgets={budgets || []} />
                <DeleteTransaction />
            </Modal>
        }
    </div>

</transaction-item>


<script>
import { convertDate } from "../../lib/convertDate"
import { el } from "../../lib/el"
import { toCurrency } from "../../utils/app.utils"


class TransactionItem extends HTMLElement {
    
    /**
     * 
     * Add showModal event listener to edit Button
     * 
     */
    connectedCallback() {
        const editButton = el<HTMLButtonElement>('transaction-edit button', this)
        const dialog = el<HTMLDialogElement>('dialog', this)
        
        if( editButton && dialog ) {
            editButton.addEventListener('click', () => dialog.showModal() )
        }
    }

    /**
     * 
     * Transaction attribute state and handlers
     * 
     */
    static observedAttributes = [
        'date', 
        'description', 
        'budget', 
        'budgetid',
        'amount', 
        'accountname', 
        'accounttype', 
        'accountnumber', 
        'isdeleted',
    ]

    attributeChangedCallback(name: string, _: any, newValue:string) {

        const handlers: Record<string, () => void> = {
            date : () => {
                el('transaction-date', this, el => el.textContent = convertDate(newValue).to('MMM-DD-YYYY') )
                el<HTMLInputElement>('input[name=date]', this, el => el.value = newValue)
            },
            description : () => {
                el('transaction-description', this, el => el.textContent = newValue )
                el<HTMLInputElement>( 'input[name=description]', this, el => el.value = newValue ) 
            },
            budget : () => {
                el('transaction-budget', this, el => el.textContent = newValue )
            },
            budgetid : () => {
                el<HTMLInputElement>('select[name="budget-id"]', this, el => el.value = newValue )
            },
            amount : () => {
                el( 'transaction-amount', this, el => el.textContent = toCurrency(newValue) )
                el<HTMLInputElement>( 'input[name=amount]', this, el => 
                    el.value = toCurrency(newValue).replace('$', '') 
                )
            },
            accountname : () => {
                el('transaction-account-name', this, el => el.textContent = newValue )
            },
            accounttype : () => {
                el('transaction-account-type', this, el => el.textContent = newValue )
            },
            accountnumber : () => {
                el('transaction-account-number', this, el => el.textContent = newValue )
            },
        }
        if( handlers[name] ) {
            handlers[name]()
        }
    }
}

customElements.define('transaction-item', TransactionItem)

// if( import.meta.env.DEV ) {
//     document.addEventListener('DOMContentLoaded', () => {
//         setTimeout( () => {
//             const dialog = document.querySelectorAll('dialog')
//             dialog[1]?.showModal()
//         }, 1000)
//     })
// }
</script>

