---
import { ArchiveRestoreIcon, EllipsisIcon } from "@lucide/astro"
import DeleteTransaction from "./DeleteTransaction.astro"
import EditTransaction from "./EditTransaction.astro"
import type { Budget, Transaction } from "../../types/types"
import Modal from "../Modal.astro"
import LoadingButton from "../Button/LoadingButton.astro"
import RestoreTransaction from "./RestoreTransaction.astro"

interface Props {
    transaction? : Transaction,
    budgets? : Budget[],
    mode? : 'simple' | 'detailed' | 'restore'
}

const { 
    transaction,
    budgets,
    mode = 'detailed'
}= Astro.props
---

<transaction-item 
    class="relative grid gap-2 py-8 border-b border-red/20 transition-all max-h-[500px]"
    state={JSON.stringify(transaction)}
>

    <transaction-date  
        class="block text-sm text-accent-text rounded" 
        data-bind="dateHumanReadable"
    />

    <div class="flex justify-start items-start w-full">
        <transaction-description 
            class="block font-semibold text-xl md:text-xl rounded" 
            data-bind="description"
        />
        <transaction-amount  
            class="ml-auto text-xl font-semibold font-theme" 
            data-bind="amountCurrency"
        />
    </div>

    <div class="w-full flex items-stretch gap-2 ">
        <transaction-budget
            class="bg-blue/20 px-3 py-2 text-xs font-medium rounded-sm tracking-wide capitalize flex items-center" 
            data-bind="budget"
        />

        { mode === 'detailed' &&
            <span class="bg-red/10 px-3 font-medium rounded-sm tracking-wide text-xs capitalize flex items-center gap-1">
                <transaction-account-name data-bind="accountName" />
                &#9679;
                <transaction-account-type data-bind="accountType" />
                <span>
                    (<transaction-account-number data-bind="accountNumber" />)
                </span>
            </span>
            <transaction-edit class="ml-auto">
                <button class="ml-2  group cursor-pointer transition-all active:scale-95">
                    <EllipsisIcon class="stroke-slate-400 group-hover:stroke-slate-900 transition-colors" />
                </button>
            </transaction-edit>
            <Modal title="Transaction Options">
                <EditTransaction transaction={transaction} budgets={budgets || []} />
                <DeleteTransaction />
            </Modal>
        }

        { mode === 'restore' && (
            <transaction-restore-modal-button class="ml-auto">
                <button class="ml-2  group cursor-pointer transition-all active:scale-95">
                    <ArchiveRestoreIcon class="stroke-slate-400 group-hover:stroke-slate-900 transition-colors" />
                </button>
            </transaction-restore-modal-button>
            <Modal title="Restore Transaction">
                <RestoreTransaction />
            </Modal>
        )}
    </div>

</transaction-item>


<script>
import { convertDate } from "../../lib/convertDate"
import { el, els } from "../../lib/el"
import type { Transaction } from "../../types/types"
import { toCurrency } from "../../utils/app.utils"


class TransactionItem extends HTMLElement {
    
    /**
     * Add any event listeners :
     * - Show Edit Modal
     * - Show Restore Modal
     */
    connectedCallback() {
        const editButton = el<HTMLButtonElement>('transaction-edit button', this)
        const restoreButton = el<HTMLButtonElement>('transaction-restore-modal-button button', this)
        const dialog = el<HTMLDialogElement>('dialog', this)
        
        if( editButton && dialog ) {
            editButton.addEventListener('click', () => dialog.showModal() )
        }

        if( restoreButton && dialog ) {
            restoreButton.addEventListener('click', () => dialog.showModal() )
        }
    }

    /**
     * Transaction attribute state and handlers
     */
    static observedAttributes = ['state']

    attributeChangedCallback(attr: string, _oldValue: any, newValue: string) {

        if( attr !== 'state') {
            return
        }

        const transactionState: Transaction = JSON.parse(newValue)
        const computedTransactionState = this.getComputedTransactionValues(transactionState)

        // Bind new values to DOM elements
        els('[data-bind]', this, el => {
            const key = el.getAttribute('data-bind') as keyof typeof computedTransactionState
            const value =  computedTransactionState[key] ?? ''

            if( 'value' in el) el.value = String(value)
            if( 'textContent' in el ) el.textContent = String(value)
        })
    }

    /**
     * @method getComputedTransactionValues
     * 
     * Takes a Transaction object and returns the same object
     * with extra values that need to be calculated.
     */
    getComputedTransactionValues( transaction: Transaction) {
        return {
            ...transaction,
            date: convertDate(transaction.date).to('YYYY-MM-DD'),
            dateHumanReadable: convertDate(transaction.date).to('MMM-DD-YYYY'),
            amountCurrency: toCurrency(transaction.amount),
            accountName: 'Everyday',
            accountType: 'Chequing',
            accountNumber: '8495'
        }
    }
}

customElements.define('transaction-item', TransactionItem)

// if( import.meta.env.DEV ) {
//     document.addEventListener('DOMContentLoaded', () => {
//         setTimeout( () => {
//             const dialog = document.querySelectorAll('dialog')
//             dialog[1]?.showModal()
//         }, 1000)
//     })
// }
</script>

